@media only screen and (max-width: 767px){

  /* these elements are for desktop versoin, so they should not displayed in mobile version. */
  .items_navigation,.desktop_frame,.d_textbox{
    display: none;
}

.template_main{
  width: 375px;
  height: 5410px;
  background: var(--neutrals-n-10, #F7F7F9);
}

.header_background{
  width: 375px;
  height: 718px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 0 0 0 80px;    
}

.container {
  display: flex;
  width: 375px;
  height: 48px;
  padding: 4px 24px 4px 12px;
  align-items: flex-start;
  gap: 199px;
  flex-shrink: 0;
  background-color: white;
}

.logo {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  color: var(--primary-b-400, #6070FF);
  text-align: center;
  font-family: Poppins,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
}

.menu_icon {
  width: 24px;
  height: 24px;
}

.container1 {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.header_shapes{
  width: 462px;
  height: 587.146px;
  flex-shrink: 0;
  background-image: url(./backgrounddd.jpg);
  background-repeat: no-repeat;
}

.item1 {
  display: flex;
  width: 327px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);

  /* Header / 2 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
}

.item2 {
  width: 327px;
  height: 146px;
}

.item2 p {
  color: var(--neutrals-n-600, #344563);

  /* Body / 2 */
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.item3 p {
  color: var(--primary-b-300, #7f8cff);

  /* Body / 2 - Bolder */
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.item4 {
  width: 170.167px;
  height: 20px;
}

.works {
  flex-direction: column;
  padding: 114px 24px;
  gap: 88px;
  display: inline-flex;
  align-items: center;
}

.card1 {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
}

.snapshoot1 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#frame_a{
  background-image: url(./snapshoot1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#frame_b{
  background-image: url(./snapshoot2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#frame_c{
  background-image: url(./snapshoot3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#frame_d{
  background-image: url(./snapshoot4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.left_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.primary_text {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  width: 295px;
  height: 36px;
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 137.5% */
}

.title1 {
  width: 295px;
  height: 80px;
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 137.5% */
}

.frame1 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text1 {
  color: var(--neutrals-n-600, #344563);

  /* Caption / 1 - Bolder */
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
}

.icon1 img {
  width: 8px;
  height: 8px;
  fill: var(--neutrals-n-50, #c1c7d0);
}

.text2 {
  color: var(--neutrals-n-100, #7a869a);

  /* Caption / 1 - Bolder */
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
}

.icon2 img {
  width: 8px;
  height: 8px;
  fill: var(--neutrals-n-50, #c1c7d0);
}

.text3 {
  color: var(--neutrals-n-100, #7a869a);

  /* Caption / 1 - Bolder */
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
}

.paragrapgh {
  width: 295px;
  height: 76px;
  display: flex;
  color: var(--neutrals-n-600, #344563);

  /* Body / 3 */
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button_block1 {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
}

.button1 {
  /* Button / Small */
  color: var(--primary-b-400, #6070ff);

  /* Button / Small */
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.36px;
}

.button_block2 {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
}

.button2 {
  color: var(--primary-b-400, #6070ff);

  /* Button / Small */
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.36px;
}

.button_block3 {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
}

.button3 {
  color: var(--primary-b-400, #6070ff);

  /* Button / Small */
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.36px;
}

.action {
  display: flex;
  padding: 12px 169px 12px 0;
  align-items: center;
}

.action_box {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
}

.button4 {
  color: var(--primary-b-500, #396df2);
  text-align: center;

  /* Button /Normal */
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
}

.container2 {
  display: inline-block;
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.about_my_self {
  display: flex;
  width: 327px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);

  /* Header / 2 */
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
}

.about_details {
  width: 327px;
  height: 147px;
  color: var(--neutrals-n-600, #344563);

  /* Body / 2 */
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.media_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.connect_button_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.connect_button {
  color: var(--primary-b-300, #7f8cff);

  /* Body / 2 - Bolder */
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.media_frame {
  display: flex;
  align-items: center;
}

.frame {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
}

.iconA {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px 3px;
  justify-content: center;
  align-items: center;
}

.frameA {
  display: flex;
  width: 18px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.resume_container {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
}

.resume_button {
  color: var(--primary-b-500, #396df2);
  text-align: center;

  /* Button /Normal */
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
}

.skills_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language_frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.language_container {
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
}

.language_box {
  width: 237px;
  color: #000;

  /* Body / 1 - Bolder */
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

.dropdown_container {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
}

.dropdown_box {
  width: 24px;
  height: 24px;
}

.language_list {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.list_frame {
  display: flex;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
}

.icon_frame {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.javascript_container {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);

  /* Body / 3 - Bolder */
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
}

.framework_container {
  width: 327px;
  height: 72px;
  display: inline-flex;
  align-items: center;
}

.framework_box {
  width: 237px;
  color: #000;

  /* Body / 1 - Bolder */
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

.dicon_container {
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
}

.dicon_box {
  width: 24px;
  height: 24px;
}

.framework_bottom {
  width: 327px;
  height: 1px;
  flex-shrink: 0;
  background: var(--neutrals-n-40, #dfe1e6);
}

.contact-container {
  background-image: url(./Contact\ me.svg);
  background-size: cover;
  width: 375px;
  height: 779px;
}

.contact {
  background-image: url(./contact\ form\ shapes-mobile.svg);
  width: 375px;
  height: 779px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.contact > .contact-heading {
  padding-top: 30px;
  width: 375px;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-weight: 750;
  font-size: 40px;
  color: #fff;
  line-height: 52px;
  text-align: center;
  margin-top: 110px;
}

.contact > .contact-description {
  width: 327px;
  height: 137px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  color: #fff;
  line-height: 28px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.contact > .contact-form {
  border: 1px solid #6070ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 10px;
}

.contact > .contact-form > input {
  width: 327px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 15px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400px;
  color: #172b4d;
}

.contact > .contact-form > textarea {
  width: 327px;
  height: 170px;
  line-height: 48px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400px;
  color: #b3bac5;
}

.contact > .contact-form > .normal-button {
  width: 142px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid #fff;
  background-color: #fff;
  position: relative;
  left: -92px;
}

.contact .normal-button button {
  width: 150px;
  height: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #6070ff;
}

.contact > footer {
  width: 375px;
  height: 34px;
  position: relative;
  bottom: 0;
}

.contact > footer > .line {
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  position: relative;
  top: 21px;
  left: 120px;
}

}

@media only screen and (min-width: 768px) {

/* these elements are for desktop versoin, so they should not displayed in mobile version. */
.menu_icon,.item1,.item2,.item3,.item4{
    display: none;
}

.template_main{
  width: 1440px;
  height: 5125px;
  background: var(--theme-1-neutrals-10, #F4F5F7);
}

.header_background{
  width: 1440px;
  height: 916px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 0 0 0 150px;
}

.container{
  display: inline-flex;
  padding: 16px 143px;
  justify-content: center;
  align-items: flex-start;
  gap: 796px;
  background-color: white;
}

.logo{
  display: flex;
  padding: 10px 12px;
  align-items: center;
  color: var(--primary-b-400, #6070FF);
  text-align: center;
  font-family: Poppins,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
}


.items_navigation{
  display: flex;
  align-items: center;
  gap: 8px;
}

.desktop_frame{
  display: flex;
  padding: 10px 12px;
  align-items: center;
  gap: 10px;
  color: var(--neutrals-n-600, #344563);
  text-align: center;
  
  /* Body / 3 - Bolder */
  font-family: Poppins,sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
}

.container1{
  display: inline-flex;
  height: auto;
  padding: 289px 260px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.header_shapes{
  width: 1397.399px;
  height: 721.46px;
  flex-shrink: 0;
  background-image: url(./dbackgroundd.jpg);
  background-repeat: no-repeat;
}

.d_textbox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.d_primarytext1{
  display: flex;
  width: 920px;
  height: 122px;
  flex-direction: column;
  justify-content: center;
  color: var(--theme-1-neutrals-1, #091E42);

  /* Header / 1 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  letter-spacing: 0.37px;
}

.d_primarytext2{
  width: 920px;
  height: 98px;
  color: var(--theme-1-neutrals-3, #344563);

  /* Body / 1 */
  font-family: Poppins,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.d_socialmedia{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.d_supporting_text{
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary-b-300, #7F8CFF);

  /* Body / 2 - Bolder */
  font-family: Poppins,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.d_socialmediaicons{
  width: 170.167px;
  height: 20px;
  flex-shrink: 0;
  fill: white;
  background-color: white;
}

.works{
  display: inline-flex;
  padding: 142px;
  flex-direction: column;
  align-items: center;
  gap: 142px;
}

.card1{
    width: 1156px;
    height: 496px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px; 
    background-color: white;
}


#d_card2,#d_card4{
  width: 1156px;
  height: 496px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px; 
  background-color: white;
  flex-flow: row-reverse;  
}

.snapshoot1{
  width: 544px;
  height: 448px;
  flex-shrink: 0;
  border-radius: 8px;
}

#frame_a{
  background-image: url(./d_snapshoot1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#frame_b{
  background-image: url(./d_snapshoot2.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}


#frame_c{
  background-image: url(./d_snapshoot3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#frame_d{
  background-image: url(./d_snapshoot4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.left_block{
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.primary_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.title{
  width: 496px;
  height: 46px;
  color: var(--theme-1-neutrals-1, #091E42);

  /* Header / 2 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
}

.frame1{
  display: flex;
  align-items: center;
  gap: 12px;
}

.text1{
  display: flex;
  padding: 8px 0px;
  align-items: center;
  color: var(--theme-1-neutrals-3, #344563);
  font-family: Poppins,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.icon1{
  width: 8px;
  height: 8px;
  fill: var(--neutrals-n-50, #C1C7D0);
}

.text2{
  display: flex;
  padding: 8px 0px;
  align-items: center;
  color: var(--theme-1-neutrals-6, #6B778C);
  font-family: Poppins,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */

}

.icon2{
  width: 8px;
  height: 8px;
  fill: var(--neutrals-n-50, #C1C7D0);
}

.text3{
  display: flex;
  padding: 8px 0px;
  align-items: center;
  color: var(--theme-1-neutrals-6, #6B778C);
  font-family: Poppins,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.paragrapgh{
  width: 496px;
  height: 50px;
  color: var(--neutrals-n-600, #344563);

  /* Body / 2 */
  font-family: Poppins,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.buttons{
  display: flex;
  align-items: center;
  gap: 8px;
}

.button_block1{
  display: flex;
  padding: 4px 12px;
  align-items: center; 
  border-radius: 8px;
  background: var(--primary-b-50, #EBEBFF);   
}

.button1{
  color: var(--primary-b-400, #6070FF);

  /* Button / Small */
  font-family: Poppins,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.36px;
}


.action{
  display: flex;
  width: auto;
  height: auto;
  padding: 16px 370px 89px 0px;
  align-items: center;

}

.action_box{
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070FF);
  color: var(--primary-b-500, #396DF2);
  text-align: center;
  
  /* Button /Normal */
  font-family: Poppins,sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
}

.container2{
  display: flex;
  width: 1440px;
  height: 924px;
  flex-shrink: 0;
  background-color: white;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-top-right-radius: 120px;
}

.about{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.d_abouttext{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.about_my_self{
  display: flex;
  width: 447px;
  height: 33px;
  flex-direction: column;
  justify-content: center;
  color: var(--theme-1-neutrals-1, #091E42);

  /* Header / 2 */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
}

.about_details{
  width: 447px;
  height: 102px;
  color: var(--neutrals-n-600, #344563);

  /* Body / 2 */
  font-family: Poppins,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.media_box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.connect_button_container{
  display: flex;
  align-items: center;
  gap: 8px;
}

.connect_button{
  color: var(--primary-b-300, #7F8CFF);

  /* Body / 2 - Bolder */
  font-family: Poppins,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.media_frame{
  display: flex;
  align-items: center;
}

.frame{
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
}

.iconA{
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px 3px;
  justify-content: center;
  align-items: center;
}

.frameA{
  display: flex;
  width: 18px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.resume_container{
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070FF);
}

.resume_button{
  color: var(--primary-b-500, #396DF2);
  text-align: center;
  
  /* Theme 1 / Button Normal  */
  font-family: Poppins,sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
}

.skills_container{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.language_frame{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.language_container{
  display: flex;
  padding: 16px 26px 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.language_box{
  width: 582px;
  color: var(--theme-1-neutrals-3, #344563);

  /* Body / 1 - Bolder */
  font-family: Poppins,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

.dropdown_container{
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
}

.dropdown_box{
  width: 24px;
  height: 24px;
}

.language_list{
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 12px;
}

.list_frame{
  display: flex;
  width: 122px;
  padding: 12px 12px 20px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #F7F7F9);
}

.icon_frame{
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #FFF);
  background:  lightgray 50% / cover no-repeat;
}

.javascript_container{
  display: flex;
  width: 98px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-700, #253858);

  /* Body / 3 - Bolder */
  font-family: Poppins,sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
}

.framework_container{
  width: 684px;
  height: 72px;
}

.framework_box{
  display: inline-flex;
  width: 582px;
  color: var(--theme-1-neutrals-3, #344563);

  /* Body / 1 - Bolder */
  font-family: Poppins,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

.dicon_container{
  display: inline-flex;
  padding: 8px;
  align-items:flex-end;
  border-radius: 8px;
}

.dicon_box{
  width: 24px;
  height: 24px;
}

.framework_bottom{
  width: 684px;
  height: 1px;
  flex-shrink: 0;
  background: var(--neutrals-n-40, #DFE1E6);
}

.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 1440px;
  height: 846px;
  fill: var(--primary-b-400, #6070FF);
  background-color: white;
  background-image: url(./d_contatcform_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.d_contactformshapes{
  width: 1290.663px;
  height: 718.699px;
  flex-shrink: 0;
  background-image: url(./d_contactformshapes.png);
  background-repeat: no-repeat;
  background-size: cover;  
}

.d_contactformleftblock{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.contact-heading{
  display: flex;
  width: 801px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-0, #FFF);
  text-align: center;
  
  /* Header / 2 */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
}

.contact-description{
  width: 569px;
  height: 102px;
  color: var(--primary-b-50, #EBEBFF);
  text-align: center;
  font-family: Poppins,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.d_contactname{
  display: flex;
  width: 447px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

#name,#mail{
  width: 447px;
  height: 48px;
  color: var(--neutral-n-800, #172B4D);
  font-family: Poppins,sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
}

#msg{
  width: 447px;
  height: 170px;
  color: var(--neutrals-n-60, #B3BAC5);
  flex-shrink: 0;
  /* Input /Normal */
  font-family: Poppins,sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

button{
  display: flex;
  padding: 12px 16px;
  align-items: center;
  border-radius: 8px;
  background: var(--neutrals-n-0, #FFF);
  color: var(--primary-b-400, #6070FF);
  text-align: center;

  /* Button /Normal */
  font-family: Poppins,sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
}

}
